body{
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}
.modeDark{
    --bg:#04142C;
    --hover-bg:hsl(232, 69%, 37%);
    --card-bg:#0B206C;
    --text-main:white;
    --text-secondary:#907D7D;

}
.modeLight{
    --bg:hsl(0, 0%, 100%);
    --hover-bg:hsl(228, 52%, 56%);
    --card-bg:hsl(228, 47%, 71%);
    --text-main: hsl(230, 17%, 14%);
    --text-secondary: hsl(228, 12%, 44%);

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 40px;
    color:var(--text-main);
    
}
.social-container p{
      size: 26px;

}
.social-container p{
    color: var(--text-secondary);
    size: 24px;

}
.toogle-container  {
   padding: 15px;
   display: flex;
   justify-content: space-between;
   

}
.toogle-container span{
    padding: 5px;
}
/* End Header */
/* Cartas */
.container-cards{
    font-size: 12px;
    display: flex;
    flex-direction:column ;
}
/* Media Querie */
 @media (min-width: 600px){
    .container-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 22px;
    }
 }
 @media (min-width: 900px){
    .container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 22px;
}
     
}

.main-card{
    background:var(--card-bg)
    ;
    margin-bottom: 22px;
    padding: 28px 0;
    text-align: center;
    border-radius: 5px;
    border-top: 5px solid transparent;
    }
.main-card:hover{
    background:  var(--hover-bg);
}
.main-card:nth-child(1) {
    border-top-color:#1228EF
    ;

}
.main-card:nth-child(2){
    border-top-color: #1C84E4 ;
}
.main-card:nth-child(3){
    position: relative;
    border-top: 5px solid transparent;
    border-radius: 0 0 5px 5px;
    margin-top: 5px
    ;
}
.main-card:nth-child(3)::before{
    content: '';
    position: absolute;
    height: 5px;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    margin: -10px 0 0 0;
    border-radius:  5px 5px 0 0 ;
    background:linear-gradient(269.84deg, #EF12CC 1.32%, rgba(253, 97, 9, 0.86) 92.94%);
}
.main-card:nth-child(4){
    border-top-color: #F30909;

}
/* Container Cards */
.username{
    color:var(--text-main) ;
    margin-bottom: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.username i {
    margin: 8px;
    font-size: 24px;
}

/* Icon-color-cards */
.fa-facebook-square{
    color: rgb(0, 47, 255);
}
.fa-twitter{
    color: #1ca0f2;
}
.fa-instagram{
    background:linear-gradient(45deg, #fdc468, #df4996) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube-square{
    color: #c4032a;
}
/* End-Icon-Colors */

/* sub-containr-card */
.followers-numbers{
    color: var(--text-main);
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 8px;

}
.follow-title{
    color:var(--text-secondary) ;
}
.follow-today{
    font-weight: bold;   
    margin-top: 30px;
}

.follow-today i{
    margin-right: 6px;
}

.up{
    color: #1db489;
}
.up i{
    font-size: 12px !important;
    margin-right: 6px;
    }
.down{
    color: #dc414c;
}
.down i{
    font-size: 12px !important;
    margin-right: 6px;
}
/* End Containers-cars */

/* Container-Overview */
.overview-title{
color:var(--text-secondary) ;
font-size: 18px;
margin: 10px 30px 24px;


}
.overview-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}
@media(min-width: 600px){
    .overview-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 22px;
    }
}
@media(min-width: 900px){
    .overview-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-column-gap: 20px;
    }
}

.card-overview{
    background-color: var(--card-bg);
    margin-bottom: 22px;
    padding: 22px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-overview:hover{
    background:var(--hover-bg) ;
}
.number-overview p{
    color: var(--text-secondary);
    text-align: left;
    margin-bottom: 18px;
    line-height: 24px;
    font-weight: bold;
}
.number-overview h2{
    color: var(--text-main);
    font-size: 14px;

}
.percent-overview{
    text-align: right;

}
 .percent-overview i:first-child{
     font-size: 24px;
     margin-bottom: 18px;
 }
 .percent-overview p{
     font-size: 12px;
     padding-top: 4px;
     font-weight: bold;
     height: 12px;
 }
 /* .attribution{

 } */
